<div class="flex flex-col gap-[20px]">
    <div class="tw:bg-[#0247B1]">
        <img src="{{ 'pepro_about_us_logo.png' | asset_url }}" width="300" height="100" alt="">
    </div>
    <div class="tw:px-[40px] tw:py-[20px]">
      <div class="tw:flex tw:items-center tw:gap-[10px] tw:mb-[20px]]">
        <img src="{{ 'p-small-logo.png' | asset_url }}" width="40" height="40" alt="">
        <p class="tw:text-black tw:text-[16px] tw:font-bold tw:leading-[20px]">
          JOIN PEPRO REWARDS+<br>
          & START EARNING TODAY!
        </p>
      </div>
      <p class="tw:text-black tw:text-[12px] tw:leading-[14px] tw:mb-[20px]">
        Earn points with every purchase of running/cycling gear, shoes, and accessories. With PEPRO REWARDS+, your
        investment in premium gear brings lasting rewards.
      </p>
      <div class="tw:mb-[20px]">
        <h3 class="tw:text-black tw:text-[16px] tw:font-bold! tw:leading-[20px]">Earn as You Shop with PEPRO Rewards+ :</h3>
        <ul class="tw:list-none tw:mb-[20px]">
          <li class="tw:flex tw:items-center tw:gap-[8px] tw:text-black tw:text-[12px] tw:leading-[14px] tw:mb-[8px]">
            <img
              src="{{'icon-blue-circle-check.svg' |  asset_url}}"
              width="20"
              height="20"
              alt=""
              srcset=""
            >
            Accumulate Points With Every Purchase
          </li>
          <li class="tw:flex tw:items-center tw:gap-[8px] tw:text-black tw:text-[12px] tw:leading-[14px] tw:mb-[8px]">
            <img
              src="{{'icon-blue-circle-check.svg' |  asset_url}}"
              width="20"
              height="20"
              alt=""
              srcset=""
    
            >Enjoy Exclusive Discounts On Future Purchases
          </li>
          <li  class="tw:flex tw:items-center tw:gap-[8px] tw:text-black tw:text-[12px] tw:leading-[14px] tw:mb-[8px]">
            <img
              src="{{'icon-blue-circle-check.svg' |  asset_url}}"
              width="20"
              height="20"
              alt=""
              srcset=""
    
            >Unlock Special Member-Only Offers
          </li>
        </ul>
      </div>
      <a href="" class="tw:text-black tw:text-[14px] tw:font-medium tw:leading-[16px]"
        >JOIN NOW AND GET BONUS POINTS
        <img
          class="tw:w-[20px] tw:h-[20px]"
          src="{{'icon-arrow-up-right.svg' | asset_url}}"
          width="20"
          height="20"
          alt=""
      ></a>
    </div>
    <div class="tw:bg-[#0247B1] tw:mx-[40px] tw:p-[20px] tw:flex tw:items-center tw:justify-between tw:font-bold tw:text-white">
        <p>
            MY POINTS
        </p>
        <P>
            250
        </P>
    </div>
</div>
