{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="tx:w-full! tw:mt-10! section-{{ section.id }}-padding">
  <img
    src="{{ section.settings.image | image_url: width: 1920, height: 1080, crop: 'center' }}"
    class="tw:w-full tw:h-auto tw:aspect-video"
    width="1920"
    height="1080"
    alt=""
  >
  <div class="tw:grid tw:grid-cols-2">
    <div class="tw:flex tw:flex-col tw:p-10 tw:bg-[#0247b1]">
      <img src="{{'pepro_about_us_logo.png' |  asset_img_url}}" width="200" height="100" alt="">
    </div>
  </div>
  <img
    src="{{"bottom-second-content-about-us-img.png" | asset_img_url: width: 1920, height: 1080, crop: 'center' }}"
    width="1920"
    height="1080"
    alt=""
  >
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
