{{ 'custom-product-row.css' | asset_url | stylesheet_tag }}
<section class="product-row">
  <div class="product-row__header">
    <h2>{{ section.settings.heading }}</h2>
    <a href="{{ section.settings.collection.url }}" class="product-row__view-all">
      VIEW ALL
    </a>
  </div>
  <pre>
    {{ section.settings.collection | json }}
  </pre>
  <div class="product-row__scroll">
    <ul class="product-row__list">
      {% for product in section.settings.collection.products %}
        <li class="product-row__item">
          <a href="{{ product.url }}">
            {{ product.featured_image | image_url: width: 400 | image_tag }}
            <p class="title">{{ product.title }}</p>
            <p class="price">{{ product.price | money }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "New Arrival Product",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "New Arrival"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "New Arrival Product"
    }
  ]
}
{% endschema %}
