{{ 'custom/pepro-footer.css' | asset_url | stylesheet_tag }}

<footer class="pepro_footer">
  <div class="pepro_footer_top">
    <div class="pepro_footer_top_item">
      <div class="pepro_join_rewards">
        <img src="{{ 'p-small-logo.png' | asset_url }}" width="40" height="40" alt="">
        <p>JOIN PEPRO REWARDS+ & START EARNING TODAY!</p>
      </div>
      <p class="pepro_join_rewards_description">
        Earn points with every purchase of running/cycling gear, shoes, and accessories. With PEPRO REWARDS+, your investment in premium gear brings lasting rewards.
      </p>
      <div class="pepro_join_rewards_list">
        <h3>Earn as You Shop with PEPRO Rewards+ :</h3>
        <ul>
          <li><img src="{{'icon-blue-circle-check.svg' |  asset_url}}"
          width="20" height="20"
          alt="" srcset=""> Accumulate Points With Every Purchase</li>
          <li><img src="{{'icon-blue-circle-check.svg' |  asset_url}}"
          width="20" height="20"
          alt="" srcset="">Enjoy Exclusive Discounts On Future Purchases</li>
          <li><img src="{{'icon-blue-circle-check.svg' |  asset_url}}"
          width="20" height="20"
          alt="" srcset="">Unlock Special Member-Only Offers</li>
        </ul>
      </div>
      <a href="" class="pepro_join_and_get_bonus_points">JOIN NOW AND GET BONUS POINTS <img src="{{'icon-arrow-up-right.svg' | asset_url}}"
      width="20" height="20" alt=""></a>
    </div>
    <div class="pepro_footer_top_item">
      <div class="pepro_more_information">
        <h3>MORE INFORMATION</h3>
        <ul class="pepro_more_information_list">
          <li>
            <a href="">ABOUT US</a>
          </li>
          <li>
            <a href="">SIZE GUIDE</a>
          </li>
          <li>
            <a href="">MAGAZINE</a>
          </li>
          <li>
            <a href="">CONTACT US</a>
          </li>
        </ul>
        <ul class="pepro_more_information_list">
          <li>
            <a href="">TERMS & CONDITIONS</a>
          </li>
          <li>
              <a href="">PRIVACY POLICY</a>
          </li>
          <li>
            <a href="">SHIPPING & RETURNS POLICY</a>
          </li>
          <li>
            <a href="">COOKIE POLICY</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pepro_footer_bottom">
    <p>© 2026, Pedal Appropo</p>
  </div>
</footer>